@media screen and (max-width: 1024px) {
    
}

body {
    background-color: blanchedalmond; /* Sidans bakgrundsfärg */
}

#headerStyle {
    font-style: italic;
}

.sidesLink {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    
}

.centralText {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}


.sidorH2 {
    text-align: center;
    text-decoration: underline;
}


/*Sida 1 design*/

.sida1pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Designen för användarens egen star rating*/
.userRate {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
