@media screen and (max-width: 1024px) {
    
}

body {
    background-color: blanchedalmond; /* Sidans bakgrundsfärg */
}


#headerStyle { /* Design på hemsidans h1 */
    font-style: italic;
    text-align: center;
    text-decoration: underline;
}



.centralText { /* Designen på texten till varje serie */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    display: block;
    margin-bottom: 25px;
    
}


.sidorH2 { /* Placering och design på h2 på varje sida */
    text-align: center;
    text-decoration: underline;
}


.userRatesoundButton { /* Knapp som gör att användaren ska kunna betygsätta serien själv och spela musik*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;

}

/*Bilder design*/

.sidoBild {
    display: flex;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; /* Så att bilderna anpassar sig efter skärmen, stor eller liten*/
    margin-bottom: 20px;
}

/* Positioneringen på länkarna till varje sida */

.sidesLink {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;

}

/* Designen på länkarna till varje sida */
.buttonDesign { 
    width: 140px;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: black;
    background-color: lightgreen;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

button:hover { /* Så att det blir en hover på buttons */
    background-color: blanchedalmond;
    transition: 0.4s;
}

.line { /* Designen på linjen vid menyknapparna */
    border: 1px solid black;
}


